<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Sol Cameron: Web Engineer</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
	<script src="//code.jquery.com/jquery-1.11.3.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
	<script src="scripts/main.js"></script>
</head>
<body>
	<div class="container-fluid">
		<div class="one row">
			<div class="main col-xs-12">
				<div class="row">
					<div class="image col-xs-12"></div>
					<div class="col-xs-12">
						<img src="http://i57.tinypic.com/f2ot9e.jpg">
						<h5 class="text-primary text-center">Sol Cameron</h5>
						<h2 class="text-center">NYC Web Developer</h2>
						<br>
					</div>
					<div class="col-xs-12">
						<button class="first btn btn-info btn-xs">Bio</button><button class="btn btn-info btn-xs">Projects</button><button class="btn btn-info btn-xs">Connect</button>
					</div>
					<ul class="nav nav-pills">
					  <li role="button" class="btn-xs"><a href="#">About</a></li>
					  <li role="button" class="btn-xs"><a href="#">Skills</a></li>
					  <li role="button" class="btn-xs"><a href="#">Resume</a></li>
					  <li role="button" class="btn-xs"><a href="#">Projects</a></li>
					  <li role="button" class="btn-xs"><a href="#">Connect</a></li>
					</ul>
				</div>
			</div>
			<div class="parallax">
				<div class="row">
					<div  class="col-xs-12 bg-primary">
						<h2>About</h2>
					</div>
				</div>
			</div>
		</div>
		<div class="progress">
  			<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;">
    			<span class="sr-only"></span>
  			</div>
		</div>
	</div>
</body>
</html>

