body {
	overflow-x: hidden;
	font-family: 'Ubuntu', sans-serif;
	background-color: black;
}

label {
	margin-left: 85px;
}

label {
	margin-left: 5px;
	color: white;
}

#inputName, #inputEmail, #inputSubject,  #inputMEssage {
	margin-left: 15px;
	height: 30px;
	width: 350px;
	border-radius: 5px;
	border-style: solid;
}

#follow {
	color: white;
}

#email {
	margin-left: 125px;
	width: 200px;
	color: white;
}	

#inputMessage {
	height: 50px;
}

.follow {
	height: 225px;
	width: 200px;
	position: relative;
	margin-top: 5px;
	left: 105px;
}

.submit {
	margin-top: 5px;
	margin-left: 80px;
	width: 250px;
}

.me {
	border-radius: 50px;
	width: 80px;
	height: 80px;
	margin-left: 175px;
	top: 200px;
}

.main {
	left: 0;
	top: 0;
	width: 425px;
	height: 120px;
	background-color: #000000;
}

.image {
	background-image: url("http://i61.tinypic.com/2mg7csh.png");
    width: 380px;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.btns {
	margin-left: 53px;
	margin-right: 10px;
}

.btn-info {
	margin-right: 5px;
}

.ul {
   list-style-image: url('https://confluence.atlassian.com/s/en_GB/5790/c0d7e4b471d38961c3c7bcb02ff39a610accca23.27/_/images/icons/emoticons/star_yellow.png');
}

.parallax {
	margin-top: 350px;
	height: 800px;
	position: relative;
	background-color: white;
}

.one {
	background-color: #000000;
}

.two{
	background-color: white;
	height: 3200px;
}

.nav-titles {
	border-bottom: solid;
	border-color: black;
	border-width: 1px;
	padding-right: 2px;
}

.abt {
	height: 360px;
	position: relative;
	left: 2px;
	right: 0px;
	top: 0px;
}

.se {
	height: 360px;
	position: relative;
	margin: 0px;
	top: 30px;
}

.p {
	height: 1440px;
	position: relative;
	left: 17px;
	right: 0px;
	top: 800px;
	/*background-color: red;*/
}

.p1, .p2, .p3, .p4 {
	height: 400px;
	position: relative;
	top: -720px;
	bottom: 30px;
}

/*.p2 {
	height: 360px;
	position: relative;
	top: -720px;
	bottom: 80px;
}

.p3 {
	height: 360px;
	position: relative;
	top: -720px;
	bottom: 80px;
}

.p4 {
	height: 360px;
	position: relative;
	top: -720px;
	bottom: 80px;
}*/

.bg-con {
	height: 700px;
	width: 414px;
	position: relative;
	top: 115px;
	background-color: black;
}

.progress {
	position: absolute;
	bottom: -15px;
	width: 100%;
	z-index: 1;
}

.propics {
/*	position: absolute;*/
	top: -40px;
	display:inline-block;
	top: -50px;
}

.pic {
	width: 150px;
	height: 175px;
	margin-left: 15px;
}

.git {
	height: 47px;
	width: 50px;
	position: relative;
	float: right;
	border-bottom: solid;
	border-color: black;
	border-width: 1px;
	bottom: 57px;
}

@media (min-width: 900px) and (max-width:1300px) {
 /*and (min-height: 700px) and (max-height:2000px) */

	h1 {
		margin: 0px;
	}

	label {
/*		position: relative;
		left: 435px;*/
		color: white;
	}

	#email {
		float: right;
		margin-right: 450px;
	}

	#inputMessage {
		height: 150px;
	}

	#inputName, #inputEmail, #inputSubject, #inputMessage {
		/*top:;*/
/*		margin-left: 450px;*/
/*		position: relative;*/
		width: 400px;
		border-radius: 5px;
		border-style: solid;
		left: 450px;
	}

	.two{
		height: 3200px;
	}

	.submit {
		margin-left: 530px;
		width: 400px;
		border-radius: 5px;
		border-style: solid;
	}

	.email {
		float: right;
		height: 450px;
		position: relative;
	}

	.follow {
		float: left;
		height: 300px;
		width: 400px;
		position: absolute;
		top: -10px;
		left: 30px;
	}

	.form-group {
		position: relative;
		left: 500px;
	}

	.progress {
		position: relative;
		bottom: 0px;
	}

	.nav-titles {
		width: 1040px;
		float: left;
	}

	.me {
		border-radius: 50px;
		width: 100px;
		height: 100px;
		margin-top: 50px;
		margin-left: 590px;
	}

/*	.text-center {
		width:500px;
		height:220px;
	}*/

	.main {
		left: 0;
		top: 0;
		width: 1280px;
		height: 650px;
		background-color: #000000;
	}

	.image {
		background-image: url("http://i61.tinypic.com/2mg7csh.png");
	    width: 1280px;
	    height: 350px;
	    background-repeat: no-repeat;
	    background-size: cover;
	    z-index: 1;
	}

	.parallax {
		margin-bottom: -550px;
		height: 1700px;
		width: 1280px;
		position: relative;
		background-color: white;
	}

	.one {
		background-color: white;
	}

	.abt, .se {
		height: 400px;
		position: relative;
		left: 75px;
		right: 125px;
		top: 20px;
	}

	.se {
		top: 40px;
	}

	.p {
		height: 1825px;
		position: relative;
		left: 90px;
		right: 110px;
		top: 860px;
		/*background-color: red;*/
	}

	.p1, .p2, .p3, .p4 {
		height: 450px;
		position: relative;
		top: -795px;
		bottom: 80px;
	}

	.p2 {
		top: -790px;
	}

	.p3 {
		top: -785px;
	}

	.p4 {
		top: -780px;
		bottom: 100px;
	}

	.bg-con {
		height: 500px;
		width: 100%;
		position: relative;
		top: 105px;
		background-color: black;
	}

	.propics {
		width: 700px;
		top: 0px;
	}

	.pic {
		width: 305px;
		height: 375px;
		margin-left: 20px;
	}

	.git {
		height: 35px;
		width: 30px;
		position: relative;
		float: right;
		border-bottom: solid;
		border-color: black;
		border-width: 1px;
		bottom: -12px;
	}

	[role~=button] {
		margin-left: 430px;
		margin-bottom: 5px;
	}
}


/*ul img   http://qualitystarsny.org/images/bullet_star-inline.jpg*/



/*lol1  http://tinypic.com/r/348r4av/8*/
/*lol2  http://tinypic.com/r/2ilhv15/8*/
/*lol3  http://tinypic.com/r/os9vgm/8*/




/*Skyline: http://i61.tinypic.com/2mg7csh.png*/
/*Lap2: http://i60.tinypic.com/kd9w69.png*/
/*Lap: http://i59.tinypic.com/ok8i6b.png*/
/*FirsLap: http://i58.tinypic.com/2uztpmq.png*/