body {
	overflow-x: hidden;
}

img {
	border-radius: 50px;
	width: 80px;
	height: 80px;
	margin-top: 20px;
	margin-left: 155px;
}

h3 {
	border-bottom: solid;
	border-color: #C2F0F0;
	border-radius: 2px;
	padding-right: 2px;
}

label {
	margin-left: 85px;
}

#inputEmail, #inputPassword, #inputMEssage, .submit {
	margin-left: 80px;
	width: 250px;
}

.main {
	left: 0;
	top: 0;
	width: 425px;
	height: 120px;
	background-color: #000000;
}

.image {
	background-image: url("http://i61.tinypic.com/2mg7csh.png");
    width: 300px;
    height: 100px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 1;
}

.btns {
	margin-left: 53px;
	margin-right: 10px;
}

.btn-info {
	margin-right: 5px;
}

.parallax {
	margin-top: 350px;
	height: 800px;
	position: relative;
	background-color: white;
}

.one {
	background-color: #000000;
}

.two{
	background-color: white;
}

.abt {
	height: 360px;
	position: relative;
	left: 2px;
	right: 0px;
	top: 0px;
}

.se {
	height: 360px;
	position: relative;
	left: 2px;
	right: 0px;
	top: 0px;
}

.p {
	height: 1440px;
	position: relative;
	left: 17px;
	right: 0px;
	top: 720px;
	background-color: red;
}

.p1 {
	height: 360px;
	position: relative;
	top: -720px;
	bottom: 80px;
}

.p2 {
	height: 360px;
	position: relative;
	top: -720px;
	bottom: 80px;
}

.p3 {
	height: 360px;
	position: relative;
	top: -720px;
	bottom: 80px;
}

.p4 {
	height: 360px;
	position: relative;
	top: -720px;
	bottom: 100px;
}

.bg-con {
	height: 700px;
	width: 414px;
	position: relative;
	top: 5px;
	background-color: black;
}

.progress {
	top: 0px;
	width: 414px;
	z-index: 1;
}

@media (min-width: 900px) and (max-width:1300px) {
 /*and (min-height: 700px) and (max-height:2000px) */
	img {
		border-radius: 50px;
		width: 100px;
		height: 100px;
		margin-top: 20px;
		margin-left: 580px;
	}

	h1 {
		margin: 0px;
	}

	label {
		margin-left: 435px;
		color: white;
	}

	#inputName, #inputEmail, #inputSubject, #inputMessage, .submit {
		/*top:;*/
		margin-left: 450px;
		width: 400px;
		border-radius: 5px;
		border-style: solid;
	}

	#inputMessage {
		height: 150px;
	}

	#follow {
		float: left;
		color: white;
	}

	#email {
		float: right;
		margin-right: 500px;
		width: 200px;
		color: white;
	}

	.main {
		left: 0;
		top: 0;
		width: 1280px;
		height: 650px;
		background-color: #000000;
	}

	.image {
		background-image: url("http://i61.tinypic.com/2mg7csh.png");
	    width: 1280px;
	    height: 350px;
	    background-repeat: no-repeat;
	    background-size: cover;
	    z-index: 1;
	}

	.parallax {
		margin-bottom: -550px;
		height: 1700px;
		width: 1280px;
		position: relative;
		background-color: white;
	}

	.one {
		background-color: white;
	}

	.abt {
		height: 400px;
		position: relative;
		left: 75px;
		right: 125px;
		top: 20px;
	}

	.se {
		height: 400px;
		position: relative;
		left: 75px;
		right: 125px;
		top: 40px;
	}

	.p {
		height: 1825px;
		position: relative;
		left: 90px;
		right: 110px;
		top: 860px;
		background-color: red;
	}

	.p1 {
		height: 450px;
		position: relative;
		top: -795px;
		bottom: 80px;
	}

	.p2 {
		position: relative;
		height: 450px;
		top: -790px;
		bottom: 80px;
	}

	.p3 {
		position: relative;
		height: 450px;
		top: -785px;
		bottom: 80px;
	}

	.p4 {
		position: relative;
		height: 450px;
		top: -780px;
		bottom: 100px;
	}

	.bg-con {
		height: 500px;
		position: relative;
		top: 105px;
		background-color: black;
	}

	.progress {
		top: 110px;
		z-index: 1;
	}

	[role~=button] {
		margin-left: 460px;
		margin-bottom: 5px;
	}
}



/*Skyline: http://i61.tinypic.com/2mg7csh.png*/
/*Lap2: http://i60.tinypic.com/kd9w69.png*/
/*Lap: http://i59.tinypic.com/ok8i6b.png*/
/*FirsLap: http://i58.tinypic.com/2uztpmq.png*/